[alias]
    ci = commit
    co = commit
    ps = push
    st = status
    undo = reset HEAD~
    diffs = diff --staged
    yolo = !"git add -A; git commit -m \"$(echo $(curl -s http://whatthecommit.com/index.txt))\""

	showw = show HEAD~
	showww = show HEAD~2
	showwww = show HEAD~3
	showwwww = show HEAD~4
	showwwwww = show HEAD~5
	showwwwwww = show HEAD~6
	showwwwwwww = show HEAD~7
	showwwwwwwww = show HEAD~8
	showwwwwwwwww = show HEAD~9
	showwwwwwwwwww = show HEAD~10
	showwwwwwwwwwww = show HEAD~11

	lg = log --graph
	logg = log --graph
	lgs = log --graph --pretty=format:'%Cred%h%Creset - %an: %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

